{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "static/css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="body">
<form class="form2" method="post">
    {% csrf_token %}
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <br>
    <br>
    <a href="{% url 'tasks' %}" class="submit3">Назад</a>
</form>
</body>
</html>